name: Daily Monitoring Scripts

on:
  schedule:
    - cron: "19 8 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  daily:
    uses: ./.github/workflows/_run-monitoring.yml
    secrets: inherit
    with:
      cache_file: cache-id-daily.txt
      cache_key_prefix: cache-id-daily-v1
      extra_env: "MORPHO_FILENAME=cache-id-daily.txt"
      scripts: |
        morpho/governance.py
        ethena/ethena.py
        cap/liquidity.py
        utils/tenderly/tenderly.py
