name: Hourly Monitoring Scripts

on:
  schedule:
    - cron: "26 * * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  hourly:
    uses: ./.github/workflows/_run-monitoring.yml
    secrets: inherit
    with:
      cache_file: cache-id.txt
      cache_key_prefix: cache-id-v4
      scripts: |
        morpho/markets.py
        aave/main.py
        aave/proposals.py
        compound/main.py
        compound/proposals.py
        fluid/proposals.py
        lido/steth/main.py
        lrt-pegs/curve/main.py
        lrt-pegs/fluid/main.py
        moonwell/bad_debt.py
        moonwell/proposals.py
        rtoken/monitor_rtoken.py
        lrt-pegs/origin_protocol.py
        euler/markets.py
        resolv/resolv.py
        infinifi/main.py
        silo/ur_sniff.py
        usdai/main.py
        yearn/alert_large_flows.py
        timelock/timelock_alerts.py
